.add__label {
  color: #222222;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 47px;
  position: relative;
}

.add__item {
  margin-top: 28px;
}

.add__input + .add__label::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  top: -5px;
  left: -25px;
}

.add__input:checked + .add__label::after {
  position: absolute;
  content: "";
  width: 21px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
  top: 1px;
  left: -20px;
}

@media (min-width: $tablet-width) {
  .add {
    display: flex;
    flex-wrap: wrap;
  }

  .add__item {
    width: 219px;

    &:nth-child(2n + 1) {
      margin-right: 92px;
    }
  }

  .add__label {
    font-size: 20px;
    line-height: 20px;
  }

  .add__input + .add__label::before {
    width: 40px;
    height: 40px;
  }

  .add__input:checked + .add__label::after {
    top: 6px;
    left: -13px;
  }
}

@media (min-width: $desktop-width) {
  .add {
    flex-wrap: nowrap;
  }

  .add__item:nth-child(2n + 1) {
    margin: 0 165px 0 0;
  }

  .add__item {
    margin: 0 165px 0 0;
  }

  .add__input + .add__label::before {
    top: 13px;
    left: -75px;
  }

  .add__input:checked + .add__label::after {
    top: 27px;
    left: -62px;
  }
}
