.author__link,
.author__name {
  text-decoration: none;
}

.author__name {
  width: 114px;
  color: #444444;
  font-family: $minor-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  margin-left: 19px;
}

.author__image {
  fill: #111111;
}

@media (min-width: $tablet-width) {
  .author__link {
    margin-left: 23px;
  }
}
