.cat-change__time {
  color: #111111;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 35px 0 38px 0;
}

.cat-change__range {
  appearance: none;
  width: 84px;
  height: 14px;
  border-radius: 6px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  outline: none;
  margin-left: 18px;
  margin-right: 18px;

  &::-webkit-slider-thumb {
    appearance: none;
    width: 35px;
    height: 6px;
    border-radius: 3px;
    background-color: #68b738;
    cursor: pointer;
    transition: 0.1s;
  }
}

@media (min-width: $tablet-width) {
  .cat-change__time {
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 6px;
    border-bottom: 1px dashed #d3d3d3;
  }

  .cat-change__range {
    width: 428px;
    height: 6px;
    border-radius: 3px;
    background-color: #dcdcdc;
    position: relative;
  }

  &::-webkit-slider-thumb {
    content: "";
    width: 34px;
    height: 34px;
    background-image: url("../img/for_range.png");
  }
}
