.cat-change__time {
  color: #111111;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 27px 10px 29px 15px;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  font-family: inherit;
  border-bottom: 1px dashed rgba(#989898, 0.23);
  padding: 0 0 6px 0;
  box-sizing: border-box;

  &:hover,
  &:focus {
    transition: 0.3s;
    border-bottom: 1px solid rgba(#989898, 0.4);
  }
}

.cat-change__range {
  appearance: none;
  width: 84px;
  background: transparent;
  padding-left: 8px;
  margin-top: -4px;

  &::-webkit-slider-thumb {
    appearance: none;
    margin-top: 3px;
    width: 35px;
    height: 6px;
    border-radius: 3px;
    background-color: #68b738;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  &::-moz-range-thumb {
    width: 35px;
    height: 6px;
    border-radius: 3px;
    background-color: #68b738;
    cursor: pointer;
    border: 0;
  }

  &::-ms-thumb {
    width: 35px;
    height: 6px;
    border-radius: 3px;
    background-color: #68b738;
    cursor: pointer;
    margin-top: 0;
  }

  &::-webkit-slider-runnable-track {
    height: 14px;
    border-radius: 6px;
    border: 1px solid #cdcdcd;
    background-color: #ffffff;
    outline: none;
  }

  &::-moz-range-track {
    width: 84px;
    height: 14px;
    border-radius: 6px;
    border: 1px solid #cdcdcd;
    background-color: #ffffff;
    outline: none;
    cursor: pointer;
  }

  &::-ms-track {
    background: transparent;
    border-color: transparent;
    color: transparent;
    width: 84px;
    height: 5px;
    border-width: 5px 0;
    border-radius: 8px;
    background-color: #ffffff;
    outline: none;
    cursor: pointer;
    margin-top: 12px;
  }

  &::-ms-fill-lower {
    background-color: #ffffff;
  }

  &::-ms-fill-upper {
    background-color: #ffffff;
  }

  @supports (-ms-ime-align: auto) {
    &::-ms-track {
      margin-top: 0;
    }
  }
}

@media (min-width: $tablet-width) {
  .cat-change__time {
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 6px;
    border-bottom: 1px dashed rgba(#989898, 0.23);
    margin: 25px 15px 38px 17px;
  }

  .cat-change__range {
    width: 428px;
    height: 65px;
    border-radius: 3px;
    margin-bottom: 13px;

    &:hover,
    &:focus {
      appearance: none;
    }

    &::-webkit-slider-thumb {
      width: 34px;
      height: 34px;
      margin-top: -12px;
      border-radius: 50%;
      background-color: #68b738;
      border: 1px solid #cdcdcd;
      box-shadow: inset 0 0 0 11px #ffffff, 0 2px 5px 1px rgba(0, 0, 0, 0.15);

      &:hover {
        box-shadow: inset 0 0 0 11px #ffffff, 0 3px 5px rgba(0, 0, 0, 0.25);
      }

      &:active {
        box-shadow: inset 0 0 0 10px #ffffff, 0 4px 5px rgba(0, 0, 0, 0.25);
        border: 2px solid #68b738;
      }
    }

    &::-moz-range-thumb {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      background-color: #68b738;
      border: 1px solid #cdcdcd;
      box-shadow: inset 0 0 0 11px #ffffff, 0 2px 5px 1px rgba(0, 0, 0, 0.15);

      &:hover {
        box-shadow: inset 0 0 0 11px #ffffff, 0 3px 5px rgba(0, 0, 0, 0.25);
      }

      &:active {
        box-shadow: inset 0 0 0 11px #ffffff, 0 4px 5px rgba(0, 0, 0, 0.25);
        border: 2px solid #68b738;
      }
    }

    &::-ms-thumb {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      background-color: #68b738;
      border: 1px solid #cdcdcd;
      box-shadow: inset 0 0 0 11px #ffffff, 0 2px 5px 1px rgba(0, 0, 0, 0.15);
      margin-top: -3px;

      &:hover {
        box-shadow: inset 0 0 0 11px #ffffff, 0 3px 5px rgba(0, 0, 0, 0.25);
      }

      &:active {
        box-shadow: inset 0 0 0 11px #ffffff, 0 4px 5px rgba(0, 0, 0, 0.25);
        border: 2px solid #68b738;
      }
    }

    &::-webkit-slider-runnable-track {
      height: 6px;
      border-radius: 3px;
      background-color: #dcdcdc;
      border: none;
    }

    &::-moz-range-track {
      width: 428px;
      height: 6px;
      border-radius: 3px;
      background-color: #dcdcdc;
      margin: 0;
      border: none;
    }

    &::-ms-track {
      width: 428px;
      height: 6px;
      background-color: transparent;
      margin: 0;
      border: none;
      margin-top: 16px;
      border-width: 5px 0;
      border-radius: 3px;
    }

    &::-ms-fill-lower {
      background-color: #dcdcdc;
    }

    &::-ms-fill-upper {
      background-color: #dcdcdc;
    }

    @supports (-ms-ime-align: auto) {
      &::-ms-track {
        margin-top: 0;
        border-radius: 50%;
      }
    }
  }

  @media (min-width: $desktop-width) {
    .cat-change__time {
      margin: 27px 13px 38px 20px;
    }
  }
}
