.catalog__wrap-center {
  margin: 0 auto;
}

.catalog {
  border-bottom: 3px solid #68b738;
}

.catalog__title {
  color: #111111;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  margin: 0;
  padding: 13px 23px 29px 0;
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  text-align: center;
}

.catalog__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 42px;
}

@media (min-width: $tablet-width) {
  .catalog__title {
    font-size: 60px;
    border: none;
    padding: 57px 0 22px 31px;
    text-align: left;
  }

  .catalog__conteiner {
    margin: 0 auto;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 87px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__title {
    padding: 74px 0 26px 41px;
  }

  .catalog__list {
    margin-left: 45px;
    margin-right: 30px;
    padding: 0 0 97px 0;
  }
}
