.description {
  height: 437px;
}
.description__food {
  color: black;
  font-family: $Oswald-Regular;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.description__slogan {
  color: black;
  font-family: $Oswald-Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
}
