.example {
  background-color: #f2f2f2;
}

.example__wrap {
  margin: 0 auto;
}

.example__header {
  color: #111111;
  font-weight: normal;
  font-size: 36px;
  line-height: 60px;
  margin: 0;
  padding: 18px 0 0 20px;
}

.example__text {
  color: #444444;
  font-family: $minor-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.5px;
  padding: 25px 34px 0 20px;
  margin: 0;
}

.example-list {
  list-style-type: none;
  padding: 8px 20px 2px 20px;
  display: flex;
}

.example__spending {
  color: #111111;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 14px 0 0 1px;
}

.example__wrap-spending {
  display: flex;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .example {
    background-color: white;
  }

  .example__header {
    margin: 43px 0 0 31px;
    padding: 0;
    font-size: 60px;
    line-height: 60px;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;
    padding: 63px 35px 0 32px;
  }

  .example__wrap-center {
    display: flex;
    justify-content: space-between;
    margin: 54px 31px 0 33px;
  }

  .example-list {
    padding: 0;
    margin: 0;
  }

  .example__spending {
    margin: 0;
    font-size: 20px;
    width: 175px;
    text-align: right;
    margin-bottom: 9px;
  }

  .example__wrap-spending {
    flex-direction: column;
    margin-top: 8px;
    margin-left: 97px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    background: none;
  }

  .example__header {
    top: -133px;
    position: absolute;
    margin: 0;
    left: 2px;
  }

  .example__text {
    padding: 70px 0 0 0;
  }

  .example__wrap.width {
    padding-left: 49px;
    width: 482px;
    display: flex;
    background-color: #f2f2f2;
  }

  .example__wrapper {
    display: flex;
    flex-direction: column;
    width: 431px;
    position: relative;
    margin-left: -7px;
  }

  .example__wrap-center {
    flex-wrap: wrap;
    margin: 68px 31px 0 0;
  }

  .example__spending {
    white-space: nowrap;
  }

  .example__wrap-spending {
    display: flex;
    justify-content: space-between;
    width: 327px;
    margin-top: 58px;
    margin-bottom: 67px;
    margin-left: 0;
    flex-direction: row;
    padding: 0;
  }

  .example__container {
    display: flex;
    flex-direction: column;
  }
}
