.explanation {
  width: 320px;
  margin: 0 auto;
}

.explanation_detail {
  color: #111111;
  font-weight: normal;
  font-size: 36px;
  line-height: 60px;
  margin: 0 0 0 20px;
}

.explanation__list {
  list-style-type: none;
  padding: 0;
  margin: 35px 20px 0 20px;
}

@media (min-width: $tablet-width) {
  .explanation_detail {
    font-size: 60px;
    margin: 51px 0 0 33px;
  }

  .explanation__list {
    display: flex;
    flex-wrap: wrap;
    margin: 35px 0 0 30px;
    border-bottom: 1px solid #e6e6e6;
  }

  .explanation {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .explanation {
    width: 1300px;
  }

  .explanation_detail {
    margin: 79px 0 0 40px;
  }

  .explanation__list {
    margin: 63px 40px 0 40px;
    border-bottom: none;
  }
}
