.explanation__center {
  margin: 0 auto;
}

.explanation_detail {
  color: #111111;
  font-weight: normal;
  font-size: 36px;
  line-height: 60px;
  margin: -5px 0 0 20px;
}

.explanation__list {
  list-style-type: none;
  padding: 0 0 18px 0;
  margin: 31px 23px 0 21px;
}

@media (min-width: $tablet-width) {
  .explanation {
    border-bottom: 1px solid #e6e6e6;
  }

  .explanation_detail {
    font-size: 60px;
    margin: 40px 0 76px 32px;
  }

  .explanation__list {
    display: flex;
    flex-wrap: wrap;
    margin: 35px 0 0 31px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .explanation_detail {
    margin: 75px 0 0 40px;
  }

  .explanation__list {
    margin: 74px 0 0 42px;
    border-bottom: none;
  }

  .explanation {
    border: none;
  }
}
