.explanation_detail {
  color: #111111;
  font-family: $Oswald-Regular;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}

.explanation__list {
  list-style-type: none;
  padding: 0;
}

.detail-list__item {
  color: #444444;
  font-family: $Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  &--nutrients::before {
    content: "";
  }

  &--powder::before {
    content: "";
  }

  &--cutlery::before {
    content: "";
  }

  &--time::before {
    content: "";
  }
}
