.footer__invite {
  color: #111111;
  font-family: $Oswald-Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.footer__address {
  color: #444444;
  font-family: $Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.footer__list {
  list-style-type: none;
}

.footer__wrap {
  background-color: #f2f2f2;
}
