.footer {
  background-color: #f2f2f2;
}

.footer__image-logo {
  padding-top: 39px;
  padding-bottom: 31px;
}

.footer__wrap {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #f2f2f2;
  width: 320px;
  margin: auto;
  text-align: center;
  align-items: stretch;
}

.footer__wrap-image {
  display: flex;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px solid rgba(#dadada, 0.9);
}

.footer__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.footer__desktop-wrap {
  margin-left: 20px;
  margin-right: 20px;
  min-height: 62px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(#dadada, 0.9);
  justify-content: center;
}

.footer__container {
  display: flex;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .footer__wrap {
    width: 768px;
  }

  .footer__tablet-wrap {
    display: flex;
    background-color: #f2f2f2;
    align-items: center;
    min-height: 151px;
    padding-left: 110px;
    padding-right: 110px;
    justify-content: space-between;
  }

  .footer__desktop-wrap {
    margin: 0;
  }

  .footer__container {
    margin: 0;
  }

  .footer__wrap-image {
    margin: 0;
  }

  .footer__image-logo {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .footer__wrap {
    width: 1300px;
  }

  .footer__tablet-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
  }
}
