.habits__letter::placeholder {
  color: #444444;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  font-family: $main-font;
  padding: 15px 15px 0 15px;
}

.habits__letter {
  width: 100%;
  height: 150px;
  padding: 0;
  border: 1px solid rgba(#cdcdcd, 0.5);

  &:hover,
  &:focus {
    border: 1px solid #cdcdcd;
    outline: none;
  }

  &:focus {
    border: 2px solid #444444;
  }
}

@media (min-width: $tablet-width) {
  .habits__letter {
    min-height: 174px;

    &::placeholder {
      font-size: 20px;
      line-height: 30px;
      padding: 17px 0 0 20px;
    }
  }
}
