.header__wrap-center {
  margin: 0 auto;
}

.header__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 0 11px 0;
  width: 320px;
  margin: 0 auto;
}

.header__nav--closed .header__menu {
  background-color: transparent;
  border: none;
  width: 24px;
  height: 18px;
  position: relative;
  outline: none;
  cursor: pointer;
  margin-right: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 18px;
    background-image: url("../img/icon-mobile-menu.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.header__nav--opened .header__menu {
  background-color: transparent;
  border: none;
  width: 24px;
  height: 18px;
  position: relative;
  outline: none;
  cursor: pointer;
  margin-right: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    background-image: url("../img/icon-close.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.header__logo {
  padding-left: 20px;

  &--active {
    pointer-events: none;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (max-width: $mobile-width-only) {
  .header__nav--closed .site-list__item {
    display: none;
  }

  .header__menu--active {
    display: block;
  }

  .header__nav--closed .site-list__item--active {
    border-bottom: 1px solid #e6e6e6;
  }

  .header__nav--nojs .header__menu {
    display: none;
  }

  .header__nav--nojs .site-list__item {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .header__nav {
    display: flex;
    align-items: center;
    margin: 24px auto 0 auto;
  }

  .header__conteiner {
    margin: 0 auto;
  }

  .header__menu {
    display: none;
  }

  .header__list {
    display: flex;
    white-space: nowrap;
    margin-top: 12px;
    margin-right: 28px;
  }

  /*.header__wrapper {
    margin-left: 96px;
  }*/

  .header__wrap {
    padding: 0;
    border-bottom: none;
    margin-left: 12px;
  }

  .header__logo {
    width: 173px;
    height: 58px;
  }
}

@media (min-width: $desktop-width) {
  .header__nav {
    padding: 54px 40px 0 40px;
    margin: 0;
  }

  .header__wrap {
    margin-left: -8px;
  }

  .header__list {
    display: flex;
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .header__wrapper {
    margin-left: 529px;
  }

  .header__logo {
    width: 202px;
    height: 59px;
  }

  .header__index {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      background-color: #63a73a;
      background-image: url("../img/index-background-desktop@1x.jpg");
      z-index: -3;
      //background-position: right top;
      background-repeat: no-repeat;

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
        background-size: 720px auto;
      }
    }
  }
}
