.page-header__list {
  list-style-type: none;
}

.site-list__item {
  color: #111111;
  font-family: $Oswald-Medium;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
}
