.product__wrap {
  display: flex;
  align-items: flex-start;
  margin-top: -3px;
  margin-bottom: -4px;
}

.product__item {
  min-height: 208px;
  border-bottom: 1px solid #e6e6e6;
  padding-left: 20px;
  padding-right: 19px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__icon {
  margin-top: 3px;
  margin-bottom: 3px;
  z-index: -1;
  width: 140px;
  height: auto;
}

.product__name {
  color: #111111;
  font-size: 15.7px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  width: 73px;
  margin: 23px 0 13px 0;
}

.product__show {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 21px;
}

.product__icon-plus {
  opacity: 0.2;
  margin-top: 26px;
}

.product__describe {
  font-family: $minor-font;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: -7px 0 22px -2px;
}

.product__description {
  color: #444444;
  font-family: $minor-font;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
}

.product__wrap-field {
  display: flex;
  width: 143px;
  justify-content: space-between;
}

.product__list {
  display: flex;
  flex-direction: column;
}

.product__wrap-order {
  display: flex;
  justify-content: center;
  margin-top: 14px;
}

.product__order {
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  z-index: 3;
  background-color: #68b738;
  padding-top: 9px;
  padding-bottom: 10px;
  width: 280px;
  margin-top: -3px;

  &:active {
    color: rgba(#000000, 0.3);
  }

  &:hover {
    background-color: #5eaa2f;
  }
}

.product__order-show {
  display: flex;
  justify-content: center;
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  z-index: 3;
  padding: 8px 94px 12px 97px;
  background-color: #f2f2f2;
  white-space: nowrap;

  &:active {
    color: rgba(#444444, 0.3);
  }

  &:hover,
  &:focus {
    background-color: #ebebeb;
  }
}

.product__wrap-show {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .product__item {
    width: 248px;
    min-height: 431px;
    background-color: #f2f2f2;
    margin: 140px 0 0 0;
    position: relative;
    padding: 0 35px 0 41px;
    align-items: stretch;

    &--show {
      background-color: white;
      border: 1px solid rgba(#cdcdcd, 0.5);
      width: 246px;
    }
  }

  .product__item:nth-child(2n + 1) {
    margin-right: 60px;
  }

  .product__icon {
    position: absolute;
    top: -81px;
    left: 1px;
    z-index: 1;
    width: 324px;
    height: auto;

    &--small {
      margin-top: 38px;
      width: 324px;
      height: auto;
    }
  }

  .product__wrap {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .product__container {
    margin-top: 165px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .product__name {
    width: 131px;
    text-align: center;
    margin: 6px auto 28px auto;
    font-size: 20px;
    line-height: 20px;
  }

  .product__wrap-field {
    width: auto;
    padding-bottom: 6px;
    margin-bottom: 9px;
    border-bottom: 1px solid #cdcdcd;
  }

  .product__list {
    margin: 161px 0 32px -1px;
  }

  .product__description {
    font-size: 16px;
  }

  .product__wrap-order {
    margin: 0;
  }

  .product__order {
    margin: -2px auto 0 auto;
    width: 100%;
  }

  .product__icon-plus {
    margin-top: 54px;
    width: 60px;
    height: 60px;
  }

  .product__show {
    margin-top: 50px;
    width: 134px;
    text-align: center;
    font-size: 20px;
  }

  .product__describe {
    font-size: 16px;
    width: 167px;
    text-align: center;
    margin: 4px 0 106px -3px;
    line-height: 19px;
  }

  .product__order-show {
    margin-top: -24px;
    padding: 13px 0 12px 0;
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .product__item:nth-child(2n + 1) {
    margin-right: 81px;
  }

  .product__item:nth-child(4n) {
    margin-right: 0;
  }

  .product__name {
    margin: 6px auto 26px auto;
  }

  .product__list {
    margin: 161px 2px 36px -3px;
  }

  .product__item {
    width: 167px;
    min-height: 431px;
    margin-right: 79px;

    &--show {
      width: 167px;
    }
  }

  .product__icon {
    top: -86px;
    left: 1px;
    width: 245px;
    height: auto;

    &--small {
      width: 245px;
      height: auto;
    }
  }

  .product__order {
    margin: -11px auto 0 auto;
  }

  .product__wrap-field {
    margin-bottom: 11px;
  }

  .product__show {
    margin-top: 50px;
  }

  .product__order-show {
    margin: -18px auto 0 auto;
  }

  .product__describe {
    margin: 6px 0 100px 0;
    width: 168px;
  }
}
