.profile__wrap-center {
  margin: 0 auto;
}

.profile__wrap-border {
  padding-bottom: 43px;
  border-bottom: 3px solid #68b738;
  margin-bottom: -46px;

  &--contact {
    padding-bottom: 26px;
    margin-bottom: -32px;
  }

  &--habits {
    padding-bottom: 26px;
    margin-bottom: -32px;
  }
}

.profile__float-left {
  display: flex;
  justify-content: center;
}

.profile__title-section {
  color: #111111;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  margin: -2px 0 27px 0;
  text-align: center;
  padding-top: 14px;
  border-top: 1px solid #ededed;
  padding-right: 23px;
}

.profile__write {
  color: #111111;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin: -2px 55px 39px 0;
  text-align: left;
}

.profile__wrap-padding {
  border-bottom: 1px solid #ededed;

  &--border {
    margin-bottom: 5px;
    border-bottom: 3px solid #68b738;
  }
}

.profile__wrap,
.profile__radio,
.profile_about,
.profile__checkbox {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.profile__wrap,
.profile__radio {
  padding: 0 19px;
  width: 320px;
  margin: auto;
  box-sizing: border-box;
}

.profile__radio {
  margin-top: 24px;
  padding-bottom: 6px;
}

.profile__contact {
  color: #111111;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin: 3px 97px 18px -2px;
  position: relative;
  transform: translateY(50%);
  display: inline-block;
  background-color: white;
  padding-right: 24px;
  padding-left: 20px;
}

.profile__wrap-submit,
.profile__wrap-necessarily {
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

.profile__checkbox {
  margin: -13px 0 38px 19px;
  padding-top: 25px;
}

.profile__comment {
  margin: -13px 21px 0 19px;
  padding-top: 24px;
  padding-bottom: 18px;
}

.profile__about {
  margin: -20px 20px 18px 19px;
  padding-top: 60px;
  padding-left: 0;
}

.profile__submit {
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  background-color: #68b738;
  padding: 12px 0 10px 0;
  width: 100%;
  white-space: nowrap;
  outline: none;
  font-family: inherit;

  &:active {
    color: rgba(#000000, 0.3);
  }

  &:hover {
    background-color: #5eaa2f;
    outline: none;
  }
}

.profile__text {
  color: #444444;
  font-family: $minor-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin: 21px 0 31px -3px;
}

@media (min-width: $tablet-width) {
  .profile__wrap-tablet {
    display: flex;
    justify-content: space-between;
    margin: 29px 153px 72px 51px;
    align-items: center;
  }

  .profile__float-left {
    display: inline-block;
  }

  .profile__conteiner {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .profile__wrap-center--padding {
    padding: 0;
  }

  .profile__wrap-border {
    padding-bottom: 121px;
    margin-bottom: -131px;

    &--contact {
      padding-bottom: 122px;
      margin-bottom: -122px;
    }
  }

  .profile__wrap-border .profile__wrap-border {
    border: none;
  }

  .profile__title-section {
    font-size: 60px;
    margin: 44px 0 56px 30px;
    border: none;
    float: left;
    text-align: left;
  }

  .profile__write {
    font-size: 20px;
    margin: 0 0 60px 71px;
    line-height: 30px;
  }

  .profile__wrap-padding {
    border-bottom: none;
    padding-left: 73px;
    padding-right: 66px;

    &--border {
      border: 1px solid rgba(#cdcdcd, 0.5);
      width: auto;
      min-height: 196px;
    }
  }

  .profile__wrap,
  .profile__radio {
    padding: 0;
    width: auto;
    padding-top: 3px;
  }

  .profile__radio {
    margin-top: 50px;
    margin-bottom: -14px;
    border: 1px solid #cdcdcd;
    padding-bottom: 12px;
  }

  .profile__contact {
    font-size: 36px;
    line-height: 36px;
    padding-left: 38px;
    padding-right: 45px;

    &--owner {
      margin: 90px 0 0 31px;
    }

    &--comment {
      margin: 77px 0 0 33px;
    }

    &--additionally {
      margin: 88px 0 0 33px;
    }
  }

  .profile__about {
    margin: 0;
    padding-bottom: 0;
    padding-left: 71px;
    padding-right: 64px;
    padding-top: 90px;
    margin-top: 0;
    margin-bottom: -55px;
  }

  .profile__comment {
    margin: 5px 67px -47px 69px;
    padding-top: 71px;
  }

  .profile__checkbox {
    margin: 0;
    padding-top: 65px;
    padding-left: 68px;
  }

  .profile__text {
    margin: 0;
    font-size: 16px;
  }

  .profile__submit {
    padding: 17px 0 15px 0;
    min-width: 283px;
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .profile__write {
    width: 322px;
    margin: 54px 0 2px 45px;
  }

  .profile__wrap-border {
    padding-bottom: 69px;
    margin-bottom: -117px;

    &--contact {
      padding-bottom: 90px;
      margin-bottom: -117px;
    }

    &--habits {
      padding-bottom: 78px;
      margin-bottom: -117px;
    }
  }

  .profile__title-section {
    margin: 62px 0 0 43px;
    text-align: left;
  }

  .profile__wrap-desktop {
    display: flex;
    margin: 60px 32px 0 32px;
  }

  .profile__wrap {
    width: 580px;
    margin-right: -128px;
    padding-left: 13px;
    padding-right: 0;
  }

  .profile__about {
    display: flex;
    margin: 21px 40px 0 24px;
    padding-top: 71px;
    padding-left: 22px;
    justify-content: space-between;
    padding-right: 0;
  }

  .profile__radio {
    margin: 0;
    margin-left: 210px;
    padding: 0;
    margin-top: 3px;
    min-width: 567px;
    padding-bottom: 13px;
  }

  .profile__wrap-padding--border {
    margin: 0;
    width: 570px;
  }

  .profile__wrap-padding {
    margin: 0;
    padding: 0;
  }

  .profile__contact {
    padding-left: 44px;

    &::before {
      width: 750px;
      top: 23px;
      left: 525px;
    }

    &--owner {
      margin: 73px 0 0 0;
    }

    &--comment {
      margin: 75px 0 0 0;
    }

    &--additionally {
      margin: 74px 0 0 0;
    }
  }

  .profile__comment {
    margin: 0 35px 0 30px;
    padding-top: 74px;
    padding-left: 13px;
  }

  .profile__checkbox {
    margin: 17px 0 0 47px;
    padding-top: 66px;
    padding-left: 10px;
  }

  .profile__wrap-tablet {
    margin: 68px 406px 83px 27px;
  }

  .profile__submit--green::before {
    width: 568px;
    top: -16px;
    left: -175px;
  }

  .profile__submit {
    padding: 17px 0 15px 0;
    min-width: 568px;
  }
}
