.promo {
  width: 320px;
  margin: 0 auto;
}

.promo__food {
  color: #ffffff;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  position: relative;

  &--background-cat::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 320px;
    height: 305px;
    background-image: url("../img/index-background-mobile@1x.jpg");
    z-index: -2;
  }
}

.promo__slogan {
  color: #ffffff;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 19px 0 29px 0;
}

.promo-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo__wrap-tablet {
  display: flex;
  flex-direction: column;
}

.promo__program {
  color: #ffffff;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  margin: 17px 0 33px 0;
  position: relative;
  text-decoration: none;

  &--green::before {
    content: "";
    position: absolute;
    width: 280px;
    height: 40px;
    background-color: #68b738;
    left: 0;
    top: -9px;
    z-index: -1;
  }
}

@media (min-width: $tablet-width) {
  .promo__food {
    width: 410px;
    color: #111111;
    font-size: 59px;
    line-height: 60px;
    text-transform: none;
    text-align: left;

    &--background-cat::before {
      display: none;
    }
  }

  .promo__slogan {
    color: #111111;
    font-size: 20px;
    line-height: 20px;
    margin: 33px 0 0 0;
  }

  .promo-wrap {
    align-items: flex-start;
  }

  .promo {
    padding-left: 120px;
    width: 768px;
  }

  .promo__program {
    padding-left: 26px;
    font-size: 20px;
    line-height: 20px;
    margin: 65px 0 0 0;

    &--green::before {
      width: 245px;
      height: 52px;
      top: -13px;
    }
  }

  .promo__food-image {
    align-self: center;
    order: 2;
  }

  .promo__wrap-tablet {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: $desktop-width) {
  .promo-wrap {
    position: relative;
  }

  .promo {
    width: 1300px;
  }

  .promo__food--background-cat::before {
    display: block;
    position: absolute;
    content: "";
    top: -125px;
    left: 546px;
    width: 720px;
    height: 696px;
    background-image: url("../img/index-background-mobile@1x.jpg");
    z-index: -2;
  }

  .promo__food-image {
    margin-left: 154px;
  }
}
