.slider {
  background-color: #f2f2f2;
}

.slider__slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__image-thin {
  display: none;
}

.slider__wrap-image {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .slider__slider {
    background-color: #f2f2f2;
    position: relative;
    z-index: 1;
    justify-content: space-around;
  }

  .slider__image-fat {
    position: absolute;
    top: -175px;
    left: 225px;
  }

  .slider__image-thin {
    display: block;
    position: absolute;
    top: -166px;
    left: 245px;
  }

  .slider__wrap-image {
    min-height: 150px;
    position: relative;
    z-index: 2;
  }

  .slider__container {
    margin: 255px auto 0 auto;
    width: 767px;
  }
}

@media (min-width: $desktop-width) {
  .example__container {
    display: flex;
    flex-direction: column;
  }
}
