.slider {
  background-color: #f2f2f2;
}

.slider__slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__image-thin {
  display: none;
}

.slider__wrap-image {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  padding-top: 35px;
}

.slider__image-fat {
  width: 311px;
  height: auto;
}

@media (min-width: $tablet-width) {
  .slider__slider {
    background: none;
    position: relative;
    z-index: 1;
    padding-bottom: 29px;
    padding-top: 158px;
  }

  .slider {
    background: linear-gradient(to right, #f2f2f2 calc(50%), #eaeaea calc(50%));
  }

  .slider__image-fat {
    position: absolute;
    top: -170px;
    left: 48px;
    width: 690px;
    height: auto;
  }

  .slider__wrap-image {
    min-height: 150px;
    position: relative;
    z-index: 2;
    background: none;
  }

  .slider__container {
    margin: 253px auto 0 auto;
    width: 767px;
  }
}

@media (min-width: $desktop-width) {
  .slider {
    background: linear-gradient(to right, #f2f2f2 calc(58%), #eaeaea calc(58%));
  }

  .slider__wrap-image {
    background-color: rgba(#f2f2f2, 0);
  }

  .slider__slider {
    background-color: rgba(#f2f2f2, 0);
    margin-top: 173px;
    margin-left: 118px;
    padding: 0;
  }

  .slider__container {
    margin: -16px auto 0 auto;
  }

  .slider__image-thin {
    left: 80px;
  }

  .slider__image-fat {
    top: -175px;
    left: 83px;
  }
}
